.base {
    margin: auto;
    width: 60%;
}

#input {
    width: 100%;
}

.inputDiv{
    margin-bottom: 5px;
}

#output {
    height: 300px;
    overflow: auto;
    display: inline-block;
    width: 80%;
}

#userStatusDiv {
    text-align: center;
}

.participants {
    width: 18%;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
}